<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUN1akNDQWFLZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEF3T1RFNE5UTXgKTkZvWERUTTFN
	VEF3TnpFNE5UTXhORm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQUtQTjUwTmRiZG5GdUhIWks3ZVU0MEJEcUNVVHRoOFFIUk9PQXMzdlh0
	NW5mbm5uL3JLQzFSOEtRcVgyCjE0TlJrcFJrdWZKQUdwcm1OYmhGWTZoZTNPUDNVa29k
	MHByNVYrTnhubElNTzJqMndUNEhvNm9YSytqaUVXS3IKMUtlM2s5cUhSZjdzZjdwRW9M
	UkR0UUY1amhyKzk1Q3Z6dm01Z2VyUGd4TEpWNzdydVN0TC84Z1JMZGptNmpYMAp4c0or
	SkxCUi9iUkVuWnZkMUtUZXZFMFpvOGF4aHBJMlZaMWdnYzFjcWRPWTR3NjhIMEtMU3dI
	TjNuL3JVOVppCnRRQ0pWSnFQYWoyV2diY1h5c01nOXR4VWY0bmpISmhhUlVSajJnNXFx
	VmRNek9RK1B1MDJ6NHJ2ZzVKWlNYbTMKQ081UDVaZzJQL3FEazdKVTJZbStvMXVlKzFr
	Q0F3RUFBYU0vTUQwd0RBWURWUjBUQVFIL0JBSXdBREFkQmdOVgpIUTRFRmdRVUI3R0lK
	bkZXbXBidkxsN0Voek5CN0h0aVFROHdEZ1lEVlIwUEFRSC9CQVFEQWdXZ01BMEdDU3FH
	ClNJYjNEUUVCQlFVQUE0SUJBUUNWZGozOUJyVmdjZHdxUkxRRG84OVVBTktJTDR4UStO
	bEs2ZEZ6ZHdaekV1bTgKV3ZaS1pIV1hVS3hyVWhwbWlPTW5HVW5VTnN6SnZQWnVwUEN0
	cm0vR3RUQ2hRTWl4MVVOSVRIdDVsSzd5RTRwSgp4bkZLV1p4c2t0Z0YwMGJVSVppVnk3
	SEs2cWxzVGhZUzF0QkdLUkU1QlJ1M0hJdmhQV2hJK3NUdjY5WnNBMEU1CjhBSCtnZVh5
	cnZiL2NpOXd5OUJ5aUR6U2pFZXBzaStDNjk5OVJTMmY4ZHBScVRzR3R0YXNXbVRjRFc5
	eVc3MVMKZi9pQUNtcURKWHFjSFZES1FFa1QxNGtqZnFLZXNWN2gweS9aTE1HRVpNRVcr
	bm9jSWRhdVpyQ0Q5WXFwSjIxZwpFdTNqNlhQVU9KRGNBS2I3cmx0aU9SeXJLVkFYNVk4
	b2tud0FSQnh5Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>HostPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2QUlCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktZd2dnU2lBZ0VBQW9JQkFRRGlkUERqUnMzL1Qyd1cKZHJ2YzloSVMy
	L0htNUZvclFsRzlSYVdqd211cDBMTFhhS294ZlNpZ3p5RXpkT2dSb096eEEydzhRTmE5
	UjZEbApYMHFLazVNWFE3Y214cnA2YzA5K0NzOS95eGkwMzVEbHYvOWRySUNSYzZLRm81
	WVhWMVp3V2Y0TFcwQ09RMGtwCm1YcEtXa2V5UmFBSTVoblRPTzY5Qkt0Y0FFMmI0Y3p6
	M3BnbGh0TDdFRzVWVUxsdWlKbktLSGxZSm5ZcXk1N3YKckh0S3habUhIdXJUNEF5Vnpm
	bXRjODZvU1RYNHh4a24zbkcyeGIzUXhKWVJrdHVXK0tWdUNpU2J4VjRVVnZldQprNjhp
	akVrYUF1TEhNQTdCM2NoYXYwS1cxLzgxbUdlV1psWm55eFk1T1RGWTExNWlTWHlzNytn
	ZU1aQVhDd3h6CmtWNTIxT0o3QWdNQkFBRUNnZ0VBVmRDZzFFK3BrbjJEWlVQYlR4R0Vx
	ZGJsWld6VmFwMDRJblI1SDRSMmppU0QKRVRRZGdxRitPdW9qRjcvT2paZWhFbmdNbFF5
	eEU0dElRb09JMk5peG5kaFFXSVpvZGl5cVRBWkd1Wk82S2hpcQpiUllEN0hpSlJCVkEy
	a215ZitmZDNyZUxtTHdjeTR4ZDlrQ3Q0ZTB5VERFc1F4TUhhRTZqMGNjcU5MUDh0UHYy
	CmtvR25qc2RraytpU0tjTHplejZVa1RMM3VSYlJNSFByL3JtWlhIaVVLbUJWQmUzcVdl
	MC9PNkhRTzdKNVRvalYKMXlDNEdsRnN0WW9DdnhiODF5MXQyaUdKNFdoelYxekxFVTZn
	YjhSQm90QUlHK2FjWm5wUm11TVZ2VWdLYnlUawpoMU9YdXZUZVFOZUsyZ2RSTndVWk14
	MnQ4YUdEVzA5andxbDRVbzArSVFLQmdRRCtDck5nRVNnNHNtNU9Ga0FBCmtUOG5oWUs4
	TVNEanhDdTlKbXpuTE1oV2RlTCtWRHMzVk9CUjFlS0NaQndKaU5JKzAwQml2NEs0d1FS
	TGIwMHkKTS8zc3B0TVNLVGlydG1Ddno1Z1BsNUdLTnlxUlp1K3c3VEdhOWZJSXFMWGNK
	aFBZbXFFQ3d6ZHU0dHMrVlpOVgoyMCtSc2htdDFkWnV0TGdKa2txazhvWTg4UUtCZ1FE
	a004NlVnZG9IQW43MFIzY1d0T3VGZ1ZYcURic0lHR0FICmh3aWl5T1dwQzQ4OVVqb3hp
	d2JRM29rSzVkY2g1R0pjaldOblE1dWpQUmxjUFN4MWtRTWtwVjZzNTFESi9yYmsKYUdS
	aTZ0T2twQ0prWjhJeGJ1STJENGxzaEt5VHAwSk5SeDhNR1hhMDMvTk9ObHhtSkM1S2Jo
	VDJOSWRuVGlkdwpQMmduWG9zR0t3S0JnQk5CN0djVDVlQ21aZ1kxV1pTeGJnQW85c2dk
	VVVqeXpmNEFzN0N5akYxQmdudVZGd2dTCnZ3NTFFRDZpS0IzdzZUOHA5RytINVBqc2FN
	N3ZHUUw5UGZwNml2V05lbVpKNVBwdTJqQVVaVXY4OHBVaklIaGgKQXFta2l6eHN6Wnhx
	cG9aODhrZXJWTUJySWdPUHFTT1JCRzhlK1NOY1dtejU5aG1EcFhUcmpaR0JBb0dBR2Rm
	OApKemxsZGJIRXF1bUZCUjlNSlB4MnZHRDlzM2IvT1JzRDBWdXJGcS9tY3UxakJjVlc2
	a1NwaElCdkVybUlvaTZvCitVTGcxMlhOLzNJMkhNSmxkcnI3czkwbWV4bkxvS1pwNkFI
	c0loTXNpZTV1UWFickczQTdBZjBzaGpSRS8vZHoKL3F6TGtzUmlDNU9BZDFqVm5UeEdS
	M08vZWVXUjlkWllkMHp2dGEwQ2dZQklpUFlKOHVnRVcwRURzd3RNdDBITQp3K1BsSC81
	dnhTTUxrNXhCU05ZaW52TEFGVU5zYlpjRnB1Q0ZBVk1pelZMVlRsN28rQnN4Rk5LVXU4
	L2QxZEVlClB1UCttUFpyWHp0cHNibVd0OVBEU0dUNGRxcnpSZkp4UktsUGtwSkRWUjQ5
	b25LaUlySi9aRmI5NTJzbXNHTXAKS1JKVVJXeEpCNkd1eXFWV3kyMlVrZz09Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>HostCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNtekNDQVlPZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEF3T1RFNE5UTXgKTkZvWERUTTFN
	VEF3TnpFNE5UTXhORm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU9KMDhPTkd6ZjlQYkJaMnU5ejJFaExiOGVia1dpdENVYjFGcGFQQ2E2
	blFzdGRvcWpGOUtLRFBJVE4wCjZCR2c3UEVEYkR4QTFyMUhvT1ZmU29xVGt4ZER0eWJH
	dW5welQzNEt6My9MR0xUZmtPVy8vMTJzZ0pGem9vV2oKbGhkWFZuQlovZ3RiUUk1RFNT
	bVpla3BhUjdKRm9Bam1HZE00N3IwRXExd0FUWnZoelBQZW1DV0cwdnNRYmxWUQp1VzZJ
	bWNvb2VWZ21kaXJMbnUrc2UwckZtWWNlNnRQZ0RKWE4rYTF6enFoSk5makhHU2ZlY2Ji
	RnZkREVsaEdTCjI1YjRwVzRLSkp2RlhoUlc5NjZUcnlLTVNSb0M0c2N3RHNIZHlGcS9R
	cGJYL3pXWVo1Wm1WbWZMRmprNU1WalgKWG1KSmZLenY2QjR4a0JjTERIT1JYbmJVNG5z
	Q0F3RUFBYU1nTUI0d0RBWURWUjBUQVFIL0JBSXdBREFPQmdOVgpIUThCQWY4RUJBTUNC
	YUF3RFFZSktvWklodmNOQVFFRkJRQURnZ0VCQUorM3FBUnJUUy9GV05PUDQ4OEUvelZC
	ClJ1OGxWWDZObmtyRk1WbFRvM2hwVXl1UnlsMEQ4eGxIMlZHd1dNcjRLd01QVHVoTUFR
	VVM4MGRzeXpMUVhEWlEKRE9tcXRGbnlSelBLcjdGVW9mcm9PanBPZ0JnWllLMzFwV1VH
	NitVSU0xdVhUWEwwK1pJK0wyemFTWHhmeTdJQQo1bWRsS2FteWVQRmZLeWNsdXJVUG4v
	TEVRelBjbGtNR2N1c3oyUjdRWCtxaWtzTGZPeUhkc25OTU4yN3dYYklECml5UDVFLytS
	Q1hVNHhzL0l6THIwYVZ3OTlhSlMvclN4VDBOc1FhWFY4VUIzdFNGRm9lNjVlQkhUQSs5
	WWkyZ0YKS0lTNHhtRkF3TUZvaU8zZldaN3IxY3lzMzhvSkxMd003eDJuODlwMEdNMzZk
	aHBzUFhQL1ptaFJza1dOdVQwPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0t
	</data>
	<key>RootPrivateKey</key>
	<data>
	LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcw
	QkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRRE1RNExWcFRyQUdGMUkKQjBkQ3BOckJK
	MERaTWorbWVLdlJ2QXloQ29BbnlTNmhHK2FNT1dxcjdCRDRtdjhJaS92S1V4K0tFR2JP
	R0FkMwplM1FMWVEwenpWQnhheEo3SHRWY1RuVTY4Q0dkZ2g3eVQ2MXhCZkgrVGh5eC8x
	VlA5OVE3RERxRlNpKzdhMkVvCnB5N0hFUUhXN21aRlVXYWRsZms1OHFFYjNsd3BOZXVw
	Z3pTQVRVVGF2bHBNMEorRzZzKzRGL2lhcWU1ZEdhRjYKWFhTakJ0bWpXb243Zk53L1lS
	OXl3b0hvMVdnYi83Q1MvakNzdnlEUk44NFgwTmN1MnUzV1FuUHBLOVc5b0kwQgpsaXp6
	NWJtblc1MUdOai9wL0ZKNGRvMkduVHhIWkhyUmxnb1Nmdm93MGhLYkxEL2JvOW9BbVJw
	N2hOejk3Yk45CnMvOUhqWEJGQWdNQkFBRUNnZ0VCQUxFWkUzV1NwVVpwbVc3YXlLRHlk
	NnVpRWVwK1U0dE04b09NakZLUDNSOGgKb2FrVG5LY1ZIUFJrWHk1OGpBUG9BbTJmOWlk
	cEl3a3E4a1pZcGZzN3NRdXB4a1lmdEUxRkpXMjdwSTV1Sm1iKwpxMEFoYnRvZ2NuaXZW
	dGZJN2puQVFLVFZiR09tTjQ1Q2dtR1IyYy9FWWhqc1o0VlFGeTBvRzRadlk5bmF4NEw5
	CjdURnpVeWtoUjJvazhVeFJEVytGeGFxV0RmdGZQRkJQSjJwamdqRWJxODhGdVJodHZV
	Mk1DNTZLcjVuNnpQRTQKKytnSTBrUmRpV2FIdEVEVXA5RlFZV2lXNmVUcnpJRjUzMWM0
	ZVpyY0JZVmpOSUtHbldYRDVkS1A1NVNoZ1pGMQpzQ2Q2N1RZRmRFTk1Hdy9zWC9GSXVu
	MWRhdGtnSGU1c0lTTUhqdGMwZWQwQ2dZRUE3andNNkd5OGVaQklZODJpClRwWS9zaW4z
	TlJ1bXVDbzRUMGlrZklweHJyVzZUdWVmY0JyMHBxQXVNSjc2azZ5SzNJTUtlKzJSWjll
	Q3FkWkEKL1Z1R3ZKWjR1bGxMV0w2UnVJSGJKSkQxYncvbzIvY0xYTU41ajVnWExNSnZZ
	bDVHOGEzUmFucjZjc1ZoUjdCagpOWWJZdC80SktWN2RGN29xNTdVdTNPZkpycE1DZ1lF
	QTIzN3pHMXVWQWprWFNPOWMrK1lHbWN4Z0lqdTRJWXNzCnB2Y0czblVvNTJPMnhDRm1X
	d1ZEVWJEVUJkMlE5dXRmWUxCRW5MdDNrUldpelJ4V3dxVStFNlQ4Zm1jVkJOOXIKWW9X
	QjM3T1FaSWxGWlR2c3JFT2tKd1krK1lUSnZzK1loQ1dpQnl1emR2ZVl3UE43dE1lNC9a
	L0piTXVyM3NXTwpXSzhIcnNJWDFNY0NnWUJiVDNybkR0NUNmYkd4Unh6Qm9FYnpvN0FU
	ay9DWHY5N3JUSDEzR3AwdUNJdExPTzNjClN3aWdZTjZ6Vmd2VzFCZzVJcVMvRVRSZEo3
	WDJJSit5UEFWdGZRTHk4Y3kyUy95UVNuMVRDNWgycEJOdFU4ZncKR3lBWmtJSzViaURC
	QkQrTzNEOWEzNTNrcFpCK3FMV3R5MngvUVFnRDZrODFpKzVyOXY3cVBwRUhyd0tCZ0NW
	NApncUFFL21jbXYrYmZsZ3dhdEwzRXVoU2VCVTBVcVViSG5SQ1ZCNnFZeHphc1RRRDA0
	UTB0RnNUNWtpblUvSzlRCjZDV3BpenZsYWFtQ1VQMWhvRHRTU3hoNUdJbUFhcUNqRWd6
	U1pyQUREeW05RlNaRFZkNmpubFNTYXE1OFdoa1YKSTVmOXllRmhXMTUxTW9VbUkxcUkw
	S1lXRHYwMDFKd25KVFNjUmQwNUFvR0JBTW8zY3d5U1hRekdTRHFIR3hSYgpNTGRHV0Mw
	d2gxVTEzYUxPU2FyVy9DckxwZTd2MTBHS1VnOTgxTkdUakNrdzFRREZ1cGZGdjZEUy9p
	dkdINjBVCmxtVmVjSnpNelZwTWNNTXpva0ZvSDRWUHFSNTMyOG54cGxLKzBBQVE4eTM5
	VWJvZ2lRUXNFZ1FoRWhFeFBLSVcKdDV4L3ViSlo2YnFoM21GNC9lS3FCWDB5Ci0tLS0t
	RU5EIFBSSVZBVEUgS0VZLS0tLS0K
	</data>
	<key>RootCertificate</key>
	<data>
	LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUNqakNDQVhhZ0F3SUJBZ0lCQURB
	TkJna3Foa2lHOXcwQkFRVUZBREFBTUI0WERUSTFNVEF3T1RFNE5UTXgKTkZvWERUTTFN
	VEF3TnpFNE5UTXhORm93QURDQ0FTSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnRVBBREND
	QVFvQwpnZ0VCQU14RGd0V2xPc0FZWFVnSFIwS2syc0VuUU5reVA2WjRxOUc4REtFS2dD
	ZkpMcUViNW93NWFxdnNFUGlhCi93aUwrOHBUSDRvUVpzNFlCM2Q3ZEF0aERUUE5VSEZy
	RW5zZTFWeE9kVHJ3SVoyQ0h2SlByWEVGOGY1T0hMSC8KVlUvMzFEc01Pb1ZLTDd0cllT
	aW5Mc2NSQWRidVprVlJacDJWK1RueW9SdmVYQ2sxNjZtRE5JQk5STnErV2t6UQpuNGJx
	ejdnWCtKcXA3bDBab1hwZGRLTUcyYU5haWZ0ODNEOWhIM0xDZ2VqVmFCdi9zSkwrTUt5
	L0lORTN6aGZRCjF5N2E3ZFpDYytrcjFiMmdqUUdXTFBQbHVhZGJuVVkyUCtuOFVuaDJq
	WWFkUEVka2V0R1dDaEorK2pEU0Vwc3MKUDl1ajJnQ1pHbnVFM1AzdHMzMnovMGVOY0VV
	Q0F3RUFBYU1UTUJFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBTgpCZ2txaGtpRzl3MEJB
	UVVGQUFPQ0FRRUFNQzI0UG9pMXEvQTY5MUJRMzNscExGN2FML0ZrTVdQbmRyVXdMT1Fq
	Ci9OQkdpdTVJNlBWaG53bVZDellsYk5GbG15MTU1R0I5clZqV1EwU3paMzFNWTFOR1RX
	SXE0YWdaQ2V6dUoxLzcKOHpXNFo2cnR4NUtSK0toQ1pkU24yMXNOZTBrVUdtcHcwZ0x6
	UXRLQUlBTExCb0VJTG0rTXd0UVJtbjhIOFhPTwp5SUZBL1BDVkxOYndnbnpqMkc3Uk9D
	UU9ZRjRNc1puanF5c2FJTnlLWkdmUWw5M1lYbVZYTXF4Yy9GWUxEbU01ClY0dUU4Qkpi
	RHN5ZHNWNk5xenZTQWZZRERCYXdYbFF1Y3orN3haSnVRaGZvQlcwQTRXam5HSEtpaDl1
	eEt1VlcKNjUrWmlOT2ZTYjFIRUQxUWl1bUcxbVhzLzhKSjBUZk5mK09OY2Fmd2V2VnJ4
	Zz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0=
	</data>
	<key>SystemBUID</key>
	<string>31209673-2037389910221341984</string>
	<key>HostID</key>
	<string>F02E1F25-1E65-4FA2-E027-B630B906DF9C</string>
	<key>EscrowBag</key>
	<data>
	uZSukHQ38ew4JHQxUuXncXa5n+LiLkflJPIaDPW5wTE=
	</data>
	<key>WiFiMACAddress</key>
	<string>08:c7:29:42:ed:eb</string>
	<key>UDID</key>
	<string>00008101-001659313881401E</string>
</dict>
</plist>
